[Desktop Entry]
Type=Application
Version=1.0
Name=Honeypot / SIEM Dashboard
Comment=Control ids and siem (start/stop, health, certs, .env)
Exec=/home/ondrej/Desktop/DP_honeypot/honeypot-ids/dashboard/run.sh
Path=/home/ondrej/Desktop/DP_honeypot/honeypot-ids/dashboard
Icon=/home/ondrej/Desktop/DP_honeypot/honeypot-ids/dashboard/resources/app_icon.svg
Terminal=false
Categories=System;
StartupNotify=true
