# reference.config
# 
# This file contains references and URLs for various security databases
# and classification systems used by Suricata rules.
#
# Format: config reference: <reference_name> <url_prefix>
#

config reference: bugtraq http://www.securityfocus.com/bid/
config reference: bid http://www.securityfocus.com/bid/
config reference: cve http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: arachNIDS http://www.whitehats.com/info/IDS
config reference: mcafee http://vil.nai.com/vil/content/v_
config reference: nessus http://cgi.nessus.org/u?
config reference: url http://
config reference: et http://doc.emergingthreats.net/
config reference: etpro http://doc.emergingthreats.net/
config reference: telus http://
config reference: osvdb http://osvdb.org/show/osvdb/
config reference: threatexpert http://www.threatexpert.com/report.aspx?md5=
config reference: md5 http://www.threatexpert.com/report.aspx?md5=
config reference: exploitdb http://www.exploit-db.com/exploits/
config reference: openpacket http://www.openpacket.org/capture/grab/
config reference: secunia http://secunia.com/advisories/
config reference: ftp ftp://
config reference: drop http://www.spamhaus.org/drop/drop.lasso?query=
config reference: honeypot http://www.honeypots.net/
config reference: talos http://www.talosintelligence.com/vulnerability_reports/
config reference: systemsecurityguard http://www.systemsecurityguard.com/
config reference: sans http://isc.sans.org/diary.html?storyid=
config reference: xforce http://xforce.iss.net/xforce/xfdb/
config reference: idefense http://labs.idefense.com/intelligence/vulnerabilities/display.php?id=
config reference: lanl http://lib-www.lanl.gov/cgi-bin/getfile?00285032
config reference: whitehats http://www.whitehats.com/info/IDS
config reference: amazon http://www.amazon.com/exec/obidos/ASIN/
config reference: cert http://www.cert.org/advisories/
config reference: rhsa https://rhn.redhat.com/errata/
config reference: suse http://www.novell.com/linux/security/advisories/
config reference: debian http://www.debian.org/security/
config reference: ubuntu http://www.ubuntu.com/usn/
config reference: gentoo http://www.gentoo.org/security/en/glsa/
config reference: fedora https://admin.fedoraproject.org/updates/
config reference: mandriva http://www.mandriva.com/security/advisories?name=
config reference: centos http://lists.centos.org/pipermail/centos-announce/
config reference: msft http://technet.microsoft.com/en-us/security/bulletin/
config reference: adobe http://www.adobe.com/support/security/bulletins/apsb
config reference: apple http://support.apple.com/kb/
config reference: cisco http://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/
config reference: juniper https://kb.juniper.net/InfoCenter/index?page=content&id=JSA
config reference: hp http://www1.itrc.hp.com/service/cki/docDisplay.do?docId=emr_na-
config reference: oracle http://www.oracle.com/technetwork/topics/security/
config reference: vmware http://www.vmware.com/security/advisories/
config reference: checkpoint http://supportcontent.checkpoint.com/solutions?id=
config reference: f5 http://support.f5.com/kb/en-us/solutions/public/
config reference: sourcefire http://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/
config reference: snort http://www.snort.org/
config reference: suricata https://suricata-ids.org/
config reference: honeypot-project http://www.honeynet.org/
config reference: mitre http://cve.mitre.org/cgi-bin/cvename.cgi?name=
config reference: nvd http://web.nvd.nist.gov/view/vuln/detail?vulnId=
config reference: securitytracker http://securitytracker.com/id/
config reference: fulldisclosure http://seclists.org/fulldisclosure/
config reference: packetstorm http://packetstormsecurity.org/